.checkout {
  display: flex;
  padding: 20px 0;
  /* background-color: white; */
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__left {
  border-bottom: 1px solid lightgray;
}
.checkout__right {
  min-width: 208px;
}

.slick-arrow::before {
  color: rgb(61, 61, 61) !important;
}

.mobile--subtotal {
  display: none;
}

.checkout .checkout__wrapper {
  max-height: 760px;
  overflow-y: scroll;
  margin-bottom: 5px;
  /* background: #ebeef05d; */
}


@media screen and (max-width: 406px) {
  .checkout__basket,
  .carousel__title {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 490px) {
  .checkout {
    width: 100%;
  }

  .carousel__wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-slide .product {
    width: auto;
    height: max-content;
  }
}

@media screen and (min-width: 491px) {
  .slick-slide .product {
    width: auto;
    height: 395px;
  }
}

@media screen and (min-width: 560px) {
  .slick-slide .product {
    height: 410px;
  }
}
@media screen and (min-width: 639px) {
  .slick-slide .product {
    height: 440px;
  }
}
@media screen and (min-width: 720px) {
  .slick-slide .product {
    height: 472px;
  }
}
@media screen and (min-width: 811px) {
  .slick-slide .product {
    height: 400px;
  }
}
@media screen and (min-width: 900px) {
  .slick-slide .product {
    height: 428px;
  }
}
@media screen and (min-width: 1025px) {
  .slick-slide .product {
    height: 410px;
  }
}

@media screen and (min-width: 1225px) {
  .slick-slide .product {
    height: 430px;
  }
}
@media screen and (min-width: 1500px) {
  .slick-slide .product {
    height: auto;
  }
}
