.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: 5px;
  
}

.home__bannerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  width: 96%;
  height: fit-content;
  background-color: #232F3E;
  padding: 10px !important;
}
.home .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
  max-height: 690px;
  max-width: 450px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.slick-slide .product {
  width: auto;
  height: 457px;
}

.home .product__img {
  max-height: 157px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.home .product__price {
  margin-top: 5px;
  color: rgb(248, 169, 21);
}

.home .product__info {
  height: 100px;
  margin-bottom: 15px;
}

.home .star-rating-filled {
  fill: gold;
}

.home .star-rating-blank {
  fill: #d8d8d8;
}

@media (min-width: 600px) {
  .home .product {
    width: 45%;
  }

}
@media (min-width: 768px) {
  .home .product {
    width: 30%;
    max-height: 475px;
  }
  .home__image {
    margin-bottom: -170px;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
}
@media (min-width: 800px) {
  .home__image {
    margin-bottom: -190px;
  }
}
@media (min-width: 850px) {
  .home__image {
    margin-bottom: -200px;
  }
}
@media (min-width: 900px) {
  .home__image {
    margin-bottom: -210px;
  }
}
@media (min-width: 950px) {
  .home__image {
    margin-bottom: -220px;
  }
}
@media (min-width: 1000px) {
  .home .product {
    width: 23%;
  }
  .home__image {
    margin-bottom: -230px;
  }
  .home__bannerContainer {
    margin-bottom: 10px;
  }
}
@media (min-width: 1100px) {
  .home__image {
    margin-bottom: -260px;
  }
}
@media (min-width: 1200px) {
  .home__image {
    margin-bottom: -280px;
  }
}
@media (min-width: 1300px) {
  .home__image {
    margin-bottom: -300px;
  }
}
@media (min-width: 1400px) {
  .home__image {
    margin-bottom: -340px;
  }
}
