.product__img__wrapper img {
    object-fit: contain;
}

.btn_inner_shadow {
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#ffd265,#d69c0b);
    box-shadow: 0 0.1rem 0 rgba(255,255,255,.6) inset;
}

textarea:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5) !important;
}
  


