.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 208px;
  height: max-content;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

@media (max-width: 490px) {
  .mobile--subtotal .subtotal p {
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
  }

  .mobile--subtotal .subtotal p strong {
    text-align: end;
    margin-left: auto;
    font-size: 30px;
    font-weight: 600;
  }

  .mobile--subtotal button {
    margin-top: 13px;
    padding: 6px 0;
  }
}
